<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Admin : Add</title>
    <link rel="stylesheet" href="" th:href="@{/css/Add_Admin.css}" />
</head>

<body>
    <div class="container">
        <a th:href="@{/admin/services}" class="back-btn"> Back to Services</a>

        <div class="addAdmin">
            <h3>➕ Add New Admin / Partner</h3>
            <form action="" th:action="@{/addingAdmin}" method="post">
                <label>Admin Name</label>
                <input type="text" id="aName" name="aName" placeholder="Enter name..."  required>

                <label>Admin Email</label>
                <input type="email" id="aEmail" name="aEmail" placeholder="Enter email..." required>

                <label>Admin Number</label>
                <input type="tel" id="aPhoneno" name="aPhoneno" placeholder="Enter 10 digit mobile number..." pattern="[0-9]{10}" required>

				<label for="apassword">Password:</label>
                <input type="password" id="aPassword" name="aPassword" placeholder="Enter password here"/>

                <button type="submit" onclick="confirm('Admin is registered Successfully!!!')"> Add Admin</button>
            </form>
        </div>
    </div>
</body>

</html>
